<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Style/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Style/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Style/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Style/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Style/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Style/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Style/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Style/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Style/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Style/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/Style/assets/js/pages/login.js"></script>
    <!-- /theme JS files -->
    <!-- Angular JS files -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/AngularJS/AngularApp.js"></script>
    <script src="~/Scripts/AngularJS/AngularController.js"></script>
    <script src="~/Scripts/AngularJS/AngularFactory.js"></script>
    <!-- /Angular JS files -->
    <script src="~/Scripts/src/loading-bar.js"></script>
    <link href="~/Scripts/src/loading-bar.css" rel="stylesheet" />
    <script src="~/Scripts/src/ocLazyLoad.js"></script>
    <script src="~/Scripts/Dashboard/AngularDashboard.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <link href="~/Scripts/Dashboard/weather.css" rel="stylesheet" />
</head>

<body class="login-container" ui-view>
</body>

</html>
